body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

html {
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  padding-top: 20px;
}

.sidebar {
  background-color: slategray;
  min-height: calc(100vh - 80px);
}

.table {
  margin-top: 20px;
}

.details {
  margin-top: 20px;
}

.list-image {
  max-height: 70px;
  max-width: 100px;
}

.project-image {
  padding-right: 30px;
  max-height: 200px;
  max-width: 300px;
}

.project-details {
  padding-top: 15px;
  display: flex;
}

.project-issues ul {
  list-style-type: none;
  padding: 0px;
}

.issue-details {
  padding-top: 15px;
}

.comments {
  margin-top: 20px;
}

.navbar {
  padding: .5rem 1rem 0 1rem;
}

.attachment>img {
  max-height: 100px;
  max-width: auto;
}

.brand-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.btn-upshot {
  background-color: #FF6600 !important;
  color: white !important;
}

.controls {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}

.subtitle {
  font-weight: bold;
  font-size: 1.2rem;
}

.project-upload {
  max-width: 150px;
  height: auto;
}